# Allow only specific folders and files
/*

# Whitelist the following folders and files
!/alacritty/
!/gtk-3.0/
!/i3/
!/nvim/
!/polybar/
!/rofi/
!/tmux/
!/.Xresources
!/.editorconfig
!/.gitignore
!/.gitmodules
!/.zshrc
!/README.md
!/install.sh
!/starship.toml
